@media screen and (max-width: 1080px) {
    .Header--common {
      position: fixed !important;
      box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, .05);
    }
    .Header {
      background-color: #fff;
      z-index: 10;
    }

    .HeaderNavHamburger {
      cursor: pointer;
      display: block;
      position: relative;
      width: 24px;
      height: 17px;
      margin: auto;
      z-index: 100;
      justify-content: space-between;
    }

    .HeaderNavHamburger__line:first-child {
      top: 0;
    }

    .HeaderNavHamburger__line {
      position: absolute;
      top: 50%;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #a2a2a4;
      transform: translate(0, -50%);
      border-radius: 10px;
      transition: top .2s, transform .2s, opacity .3s;
    }

    .HeaderNavHamburger__line:last-child {
      top: 100%;
    }

    .HeaderNavList {
      overflow-y: scroll;
      position: fixed;
      top: 60px;
      left: 100%;
      width: 100%;
      display: block;
      padding-top: 20px;
      padding-bottom: 75px;
      transition: transform .5s;
      z-index: 99;
      background-color: rgba(0, 0, 0, .8);
      -webkit-overflow-scrolling: touch;
      height: 100%;
    }

    .HeaderNavListItem {
      margin-right: 0;
    }
    
    .HeaderNavListItem__link {
      padding: 20px 0;
    }

    .HeaderNavListItem__link>span:first-child {
      font-size: 16px;
      letter-spacing: 5px;
      color: #fff;
    }
    
    .HeaderNavListItem__link>span:last-child {
      font-size: 12px;
      margin-top: 10px;
      color: #f79214;
      letter-spacing: 2px;
    }
    
    .HeaderNavListItem:last-of-type {
      margin-top: 20px;
    }

    .HeaderNavListItem__button {
      font-size: 16px;
      margin: 0 auto;
      height: 60px;
      width: 250px;
    }
    
    main {
      padding-top: 60px;
    }

    .FirstView__container {
      max-width: none;
      padding-left: 36px;
      padding-right: 36px;
    }
}
  
  @media screen and (max-width: 767px) {
    .Header {
      padding-top: 15px;
      padding-bottom: 15px;
      position: fixed;
      top: 0;
      z-index: 10;
    }
    .HeaderContainer {
      max-width: 100%;
      margin: 0 16px;
    }
    
    .HeaderNavList {
      top: 70px;
    }

    main {
      padding-top: 52px;
    }

    .FirstView {
      height: fit-content;
    }
    
    .FirstView__bg-image {
      display: none;
    }
    
    .FirstView__whole-image {
      display: block;
      margin-bottom: 7px;
      width: 100%;
    }
    
    .FirstView__container {
      padding-top: 0;
      padding-bottom: 20px;
      max-width: none;
      padding-left: 16px;
      padding-right: 16px;
    }

    
    .FirstViewContent__title {
      font-size: 22px;
      line-height: 36px;
      position: relative;
      width: fit-content;
    }

    .FirstViewContent__badge-image {
      height: 102px;
      width: 102px;
      top: -20px;
      right: -85px;
    }

    .FirstViewContent__button {
      width: 100% !important;
    }
}
    
    @media screen and (max-width: 414px) { 
    .Header{
      height: 48px;
      padding: 0;
    }
    .HeaderNavHamburger {
      height: 12px;
      width: 18px;
    }

    main {
      padding-top: 48px;
    }

    .HeaderNavList {
      top: 48px;
    }   
}